<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <h2>Welcome to our web application</h2>
            <p>This is a visualization application about a story. It can visualize story’s scenes into line graph in order to help users organize their ideas, analyze the scenario or just simply a way to summary the story </p>
        </div>
    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-sm-6">
            <h3>Trieu Quoc Lap - 1351030</h3>
            <a href="mailto:tqlap@apcs.vn" target="_top">tqlap@apcs.vn</a>
        </div>

        <div class="col-sm-6">
            <h3>Ho Huu Phat - 1351035</h3>
            <a href="mailto:hhphat@apcs.vn" target="_top">hhphat@apcs.vn</a>
        </div>

    </div>

</div>
<!-- /.container -->
